<center>
<h1 style= color:lightgreen> <%=p1_name%> Please Pick A Word For <%=p2_name%> To Play HangMan <h1>
<h1 style= color:lightgreen> <%=p2_name%>  You will be guessing <h1> 
<form method="post" action="/secretword">
<input type= "password" name="word">
<input type= "submit">


<input type= "hidden" name="player1" value='<%=p1_name%>'>
<input type= "hidden" name="player2" value='<%=p2_name%>'>



</form>